MONGO_URI=mongodb+srv://Sandesh:Vidya%402728s@cluster0.umoddfv.mongodb.net/?appName=Cluster0
PORT=5000
JWT_SECRET=make_this_a_long_random_string_at_least_64_chars
GEMINI_API_KEY=your_gemini_api_key_here
CLOUDINARY_CLOUD_NAME=tzcd97kp
CLOUDINARY_API_KEY=919549873537552
CLOUDINARY_API_SECRET=byn2dTDK8gD_3cGdnB-IFquxVaY
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
